<main>
<section> 
<div class="card" style="width: 30rem;">
    <img  id="img-top" class="card-img-top" src="assets/images/real madridista.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Equipo</h5>
      <p class="card-text">País:</p>
      <p>Fundación:</p>
      <p>Presidente:</p>
      <p>Entrenador</p>
      <p>Web:</p>
      <p>Sede:</p>
      <p>Aforo:</p>
      <p>Dirección:</p>
      <a href="events/staff" class="btn btn-primary">Plantilla</a>
    </div>
  </div>
  </section>
</main>

