footer {
    background-color: #76C762;
    width: 100%;
    min-height: 100px;
    flex-direction: row;
    justify-content: space-between;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    margin-top: 2%;
    margin-right: 50%;
    margin-left: 40%;
    position: absolute;
}

.name {
    margin-top: 60px;
    margin-left: 5%;
    position: absolute;

}