<p>teams works!</p>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<div class="container">

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">País: </p>
      <p class="card-text">Fundación: </p>
      <p class="card-text">Presidente: </p>
      <p class="card-text">Entrenador: </p>
      <p class="card-text">Web: </p>
      <p class="card-text">Sede: </p>
      <p class="card-text">Aforo: </p>
      <p class="card-text">Dirección: </p>
      <a href="events/staff" class="btn btn-primary">Plantilla</a>
    </div>
  </div>

</div>