<main>
 <!-- <div id="teams-cards" class="card">
   <img src="..." class="card-img-top" alt="...">
   <img src="assets/images/real-madrid-logo.png" class="card-img-top" alt="...">
   <div class="card-body">
     <p class="card-text">Equipo</p>
   </div>
</div> -->

<div id="teams-cards" class="card-fluid">  
  <a href="events/teams/1"><img  class="class-card" src="assets/images/real madridista.jpg"  alt="logo equipos"></a>
  <div class="card-body">
    <p class="card-text">Equipo</p>
  </div>
</div>
</main>

