main {
    background-image: url(/assets/images/football-1419954_640.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 51px;
}

.menu-home {
    padding: 5%;
}

.card-img-top {
    width: 80%;
    height: 100%;
    object-fit: cover;
    padding-top: 5%;
}

img {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    max-height: 275px;
}

.card {
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.5);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.5);
    box-shadow: 1px 2px 5px rgba(0,0,0,.5);
}

