<main>
    <div class="menu-home">
        <div class="card" style="width: 30rem;">
            <img src="assets/images/stadium-2791693_640.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Equipos LaLiga EA Sports</h5>
                <a href="events/teams" class="btn btn-primary">Equipos</a>
            </div>
        </div>
    </div> 
    <div class="menu-home">
        <div class="card" style="width: 30rem;">
            <img src="assets/images/calendario.jpg" class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">Calendario Temporada 2023/2024</h5>
                <a href="events/calendar" class="btn btn-primary">Calendario</a>
            </div>
        </div>
    </div>
</main>