<main>
<h2>Calendario 2023/2024</h2>

<section>
    <h3>Jornada 1</h3>
<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>
</section>
<section>
    <h3>Jornada 1</h3>
<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>
</section>
<section>
    <h3>Jornada 1</h3>
<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>
</section>
<section>
    <h3>Jornada 1</h3>
<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>
</section>
<section>
    <h3>Jornada 1</h3>
<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>
</section>
</main>