<main>
<h2>Calendario 2023/2024</h2>

<section>
    <h3>Jornada 1</h3>
<div class="container-result">
    <img class="shield" src="assets/images/Almeriacf.webp">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="assets/images/rayo.jpg">
</div>
    
<div class="container-result">
    <img class="shield" src="assets/images/sevilla.jpg">
    <h4 class="team">Sevilla</h4>
    <h4 class="result">1</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Valencia</h4>
    <img class="shield" src="assets/images/Valencia_CF.png">
</div>
   
<div class="container-result">
    <img class="shield" src="assets/images/Real-Sociedad-de-Futbol-Logo.png">
    <h4 class="team">Real sociedad</h4>
    <h4 class="result">1</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">1</h4>
    <h4 class="team">Girona</h4>
    <img class="shield" src="assets/images/girina.jpg">
</div>
    
<div class="container-result">
    <img class="shield" src="assets/images/UD_Las_Palmas.png">
    <h4 class="team">Las Palmas</h4>
    <h4 class="result">1</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">1</h4>
    <h4 class="team">Mallorca</h4>
    <img class="shield" src="assets/images/real-mallorca.png">
</div>
    
<div class="container-result">
    <img class="shield" src="assets/images/escudo-del-athletic-club-de-bilbao.jpg">
    <h4 class="team">Athletic</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Real Madrid</h4>
    <img class="shield" src="assets/images/real-madrid-logo.png">
</div>
    
<div class="container-result">
    <img class="shield" src="assets/images/celta-vigo.png">
    <h4 class="team">Celta</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Osasuna</h4>
    <img class="shield" src="assets/images/osasuna.jpg">
</div>
    
<div class="container-result">
    <img class="shield" src="assets/images/villarreal.png">
    <h4 class="team">Villarreal</h4>
    <h4 class="result">1</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Betis</h4>
    <img class="shield" src="assets/images/betis.jpg">
</div>
    
<div class="container-result">
    <img class="shield" src="assets/images/Getafe-CF-Logo.png">
    <h4 class="team">Getafe</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">0</h4>
    <h4 class="team">Barcelona</h4>
    <img class="shield" src="assets/images/logo barcelona.jpg">
</div>
    
<div class="container-result">
    <img class="shield" src="assets/images/cadiz.webp">
    <h4 class="team">Cádiz</h4>
    <h4 class="result">1</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">0</h4>
    <h4 class="team">Alavés</h4>
    <img class="shield" src="assets/images/Deportivo-Alaves.png">
</div>
    
<div class="container-result">
    <img class="shield" src="assets/images/atletico-madrid.png">
    <h4 class="team">Atlético</h4>
    <h4 class="result">3</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">1</h4>
    <h4 class="team">Granada</h4>
    <img class="shield" src="assets/images/granada.png">
</div>
</section>
<section>
    <h3>Jornada 2</h3>
<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Mallorca</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">1</h4>
    <h4 class="team">Villarreal</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Valencia</h4>
    <h4 class="result">1</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">0</h4>
    <h4 class="team">Las Palmas</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Real Sociedad</h4>
    <h4 class="result">1</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">1</h4>
    <h4 class="team">Celta</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">1</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">3</h4>
    <h4 class="team">Real Madrid</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Osasuna</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Athletic</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Girona</h4>
    <h4 class="result">3</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">0</h4>
    <h4 class="team">Getafe</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Barcelona</h4>
    <h4 class="result">2</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">0</h4>
    <h4 class="team">Cádiz</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Betis</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">0</h4>
    <h4 class="team">Atlético</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Alavés</h4>
    <h4 class="result">4</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">3</h4>
    <h4 class="team">Sevilla</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Granada</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>
</section>
<section>
    <h3>Jornada 3</h3>
<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Las Palmas</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">0</h4>
    <h4 class="team">Real Sociedad</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Celta</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">1</h4>
    <h4 class="team">Real Madrid</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Cádiz</h4>
    <h4 class="result">1</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">1</h4>
    <h4 class="team">Almería</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Granada</h4>
    <h4 class="result">3</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Mallorca</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Sevilla</h4>
    <h4 class="result">1</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Girona</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Villarreal</h4>
    <h4 class="result">3</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">4</h4>
    <h4 class="team">Barcelona</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Valencia</h4>
    <h4 class="result">1</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Osasuna</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Athletic</h4>
    <h4 class="result">4</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Betis</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Getafe</h4>
    <h4 class="result">1</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">0</h4>
    <h4 class="team">Alavés</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Rayo Vallecano</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Atlético</h4>
    <img class="shield" src="">
</div>
</section>
<section>
    <h3>Jornada 4</h3>
<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Cádiz</h4>
    <h4 class="result">3</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">1</h4>
    <h4 class="team">Villarreal</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">2</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">3</h4>
    <h4 class="team">Celta</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Real Sociedad</h4>
    <h4 class="result">5</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">3</h4>
    <h4 class="team">Granada</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Real Madrid</h4>
    <h4 class="result">2</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">1</h4>
    <h4 class="team">Getafe</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Alavés</h4>
    <h4 class="result">1</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">0</h4>
    <h4 class="team">Valencia</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Betis</h4>
    <h4 class="result">1</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">0</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Girona</h4>
    <h4 class="result">1</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">0</h4>
    <h4 class="team">Las Palmas</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Mallorca</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">0</h4>
    <h4 class="team">Athletic</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Osasuna</h4>
    <h4 class="result">1</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Barcelona</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Atlético</h4>
    <h4 class="result">S </h4>
    <h4 class="vs">-</h4>
    <h4 class="result">16:15</h4>
    <h4 class="team">Sevilla</h4>
    <img class="shield" src="">
</div>
</section>
<section>
    <h3>Jornada 5</h3>
<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>

<div class="container-result">
    <img class="shield" src="">
    <h4 class="team">Almería</h4>
    <h4 class="result">0</h4>
    <h4 class="vs">-</h4>
    <h4 class="result">2</h4>
    <h4 class="team">Rayo Vallecano</h4>
    <img class="shield" src="">
</div>
</section>
</main>