.card mb-3 {
    border-radius: 10px;
}

main {
    background-image: url(/assets/images/istockphoto.webp);
    background-position: center;
    position: relative; 
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    opacity: 0.75;
}

h2 {
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
}

section {
    margin-bottom: 10%;
    position: relative;
}