<header>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
<nav id="nav-header" class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/assets/images/crown-1065918_1280.jpg" alt="Bootstrap" width="80" height="64">
      </a>
      <h1>LaLiga F5</h1>
      <a class="nav-link" href="#">HOME</a>
    </div>
  </nav>
</header>